{% extends 'inv/base.html' %}

{% block body %}

<table style="height: 50px; width: 936px; background-color: green;" border="0">
<tbody>
<tr>
<td style="text-align: center; width: 150px; ">Fin-Mgt</td>
<td style="text-align: center; ">Page Navigation</td>
<td><input style="width:150px;font-size:15pt;"></td>
<td><p><from method="link" action=" "><button style="border-color: green; border-radius: 8px;"><span style="font-size: xx-small;">Force Calculation</span></button></from><p></td>
<td><p><from method="link" action=" "><button style="border-color: green; border-radius: 8px;"><span style="font-size: xx-small;">Submit Result</span></button></from><p></td>
<td><p><from method="link" action=" "><button style="border-color: orange; border-radius: 8px;">
    <span style="font-size: xx-small;">Change Underlying Cycle</span></button></from></p></td>
<td><p><from method="link" action=" "><button style="border-color: blue; border-radius: 10px;"><span style="font-size: xx-small;">Help</span></button></from></p></td>
</tr>
</tbody>
</table>


<table style="height: 70px; width: 300px;background-color: #ffffff;" border="0">
<tbody>
<tr>
<td style="text-align: center; width:400px; background-color: "></td>
<td><input style="text-align: center;width:20px" id='', type=''></td>
<td style="background-color: ">Employees</td>
<td><input style="text-align: center;width:20px" id='', type=''></td>
<td style=" background-color: ">Rent</td>
<td><input style="text-align: center;width:20px" id='', type=''></td>
<td style=" text-align: center; background-color: ">Financial Market Indicators</td>
</tr>
<tr>
<td style="text-align: center; width:400px; background-color: ">Task List</td>
<td><input style="text-align: center;width:20px" id='', type=''></td>
<td style=" text-align: center; background-color: ">Utilities, Suppliers and Others</td>
<td><input style="text-align: center;width:20px" id='', type=''></td>
<td style=" background-color: ">Debt</td>
</tr>
<tr>
<td style="text-align: center; width:400px; background-color: "></td>
<td><input style="text-align: center;width:20px" id='', type=''></td>
<td style=" text-align: center; background-color: ">Marketing Costs</td>
</tr>




<table style="height: 50px; width: 936px;background-color: #ffffff;" border="0">
<tbody>
<tr>
<td <span style="height:35px"></span></td>
</tr>
<tr>
<td <span style="background-color: green; color: #ffffff;">1 Employees</span></td>
</tr>


<table style="height: 50px; width: 936px; background-color: #ffffff;" border="0">
<tbody>
<tr>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; ">Salary increase</td>
<td style="text-align: center; ">Salary increase</td>
</tr>


<tr>
<td style="text-align: center; ">Position</td>
<td style="text-align: center; ">Budget</td>
<td style="text-align: center; ">Number</td>
<td style="text-align: center; ">FY-2</td>
<td style="text-align: center; ">FY-3</td>
</tr>
<tr>
<td style="text-align: center; ">Office Assistants</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">25000</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.11</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.2</div>
</td>
</tr>
<tr>
<td style="text-align: center; ">Salesmen</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">67500</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.5</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.11</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.2</div>
</td>
</tr>
<tr>
<td style="text-align: center; ">Executive Salaries</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">32500</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">10.5</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.11</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.2</div>
</td>
</tr>
<tr>
<td style="text-align: center; ">Miscellaneous(Consultants)</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">5000</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true"></div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.11</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.2</div>
</td>
</tr>
<tr>
<td style="text-align: center; "></td>
<td style="text-align: center; ">FY-1</td>
<td style="text-align: center; ">Fy-2</td>
<td style="text-align: center; ">FY-3</td>
</tr>
<tr>
<td style="text-align: center; ">Total</td>
<td style="text-align: center; ">sum</td>
<td style="text-align: center; ">sum</td>
<td style="text-align: center; ">sum</td>
</tr>






<table style="height: 50px; width: 936px;background-color: #ffffff;" border="0">
<tbody>
<tr>
<td><span style="height:35px"></span></td>
</tr>
<tr>
<td><span style="background-color: green; color: #ffffff;">2 Utilities, Supplies and other</span></td>
</tr>
</table>

<table style="height: 50px; width: 936px; background-color: #ffffff;" border="0">
</tbody>
<tr>
<td style="text-align: center; "></td>
<td style="text-align: center; ">Payment</td>
<td style="text-align: center; ">Payment increase</td>
<td style="text-align: center; ">Payment increase</td>
</tr>
<tr>
<td style="text-align: center; "></td>
<td style="text-align: center; ">FY-1</td>
<td style="text-align: center; ">FY-2</td>
<td style="text-align: center; ">FY-3</td>
</tr>

<tr>
<td style="text-align: center; ">Leasing of cars, computers, etc</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">8000</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.11</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.2</div>
</td>
<tr>
<td style="text-align: center; ">Office supply</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">4000</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.11</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.2</div>
</td>
<tr>
<td style="text-align: center; ">Heat, Light, Phone</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">7000</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.11</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.2</div>
</td>
<tr>
<td style="text-align: center; ">Insurance</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">7000</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.11</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.2</div>
</td>
<tr>
<td style="text-align: center; ">Description</td>
<td style="text-align: center; ">0</td>
<td style="text-align: center; ">0</td>
<td style="text-align: center; ">0</td>
</tr>
<tr>
<td style="text-align: center; "></td>
<td style="text-align: center; ">FY-1</td>
<td style="text-align: center; ">Fy-2</td>
<td style="text-align: center; ">FY-3</td>
</tr>
<tr>
<td style="text-align: center; ">Total</td>
<td style="text-align: center; ">sum</td>
<td style="text-align: center; ">sum</td>
<td style="text-align: center; ">sum</td>
</tr>
</table>





<table style="height: 50px; width: 936px;background-color: #ffffff;" border="0">
<tbody>
<tr>
<td><span style="height:35px"></span></td>
</tr>
<tr>
<td><span style="background-color: green; color: #ffffff;">3 Marketing Costs</span></td>
</tr>

<table style="height: 50px; width: 936px; background-color: #ffffff;" border="0">
<tbody>
<tr>
<td style="text-align: center; "></td>
<td style="text-align: center; ">Payment</td>
<td style="text-align: center; ">Payment increase</td>
<td style="text-align: center; ">Payment increase</td>
</tr>
<tr>
<td style="text-align: center; "></td>
<td style="text-align: center; ">FY-1</td>
<td style="text-align: center; ">FY-2</td>
<td style="text-align: center; ">FY-3</td>
</tr>

<tr>
<td style="text-align: center; ">Local Advertising</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">35000</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.11</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.2</div>
</td>
<tr>
<td style="text-align: center; ">Trade Shows</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">3000</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.11</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.2</div>
</td>
<tr>
<td style="text-align: center; "></td>
<td style="text-align: center; ">FY-1</td>
<td style="text-align: center; ">Fy-2</td>
<td style="text-align: center; ">FY-3</td>
</tr>
<tr>
<td style="text-align: center; ">Total</td>
<td style="text-align: center; ">sum</td>
<td style="text-align: center; ">sum</td>
<td style="text-align: center; ">sum</td>
</tr>











<table style="height: 50px; width: 936px;background-color: #ffffff;" border="0">
<tbody>
<tr>
<td <span style="height:35px"></span></td>
</tr>
<tr>
<td <span style="background-color: green; color: #ffffff;">4 Rent</span></td>
</tr>


<table style="height: 50px; width: 936px; background-color: #ffffff;" border="0">
<tbody>
<tr>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; ">Payment increase</td>
<td style="text-align: center; ">Payment increase</td>
</tr>


<tr>
<td style="text-align: center; "></td>
<td style="text-align: center; ">Payment</td>
<td style="text-align: center; ">Space)(ft^2)</td>
<td style="text-align: center; ">FY-2</td>
<td style="text-align: center; ">FY-3</td>
</tr>
<tr>
<td style="text-align: center; ">Office</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">5000</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">200</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.11</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.2</div>
</td>
<tr>
<td style="text-align: center; "></td>
<td style="text-align: center; ">FY-1</td>
<td style="text-align: center; ">Fy-2</td>
<td style="text-align: center; ">FY-3</td>
</tr>
<tr>
<td style="text-align: center; ">Total</td>
<td style="text-align: center; ">sum</td>
<td style="text-align: center; ">sum</td>
<td style="text-align: center; ">sum</td>
</tr>









<table style="height: 50px; width: 936px;background-color: #ffffff;" border="0">
<tbody>
<tr>
<td <span style="height:35px"></span></td>
</tr>
<tr>
<td <span style="background-color: green; color: #ffffff;">5 Debt</span></td>
</tr>


<table style="height: 50px; width: 936px; background-color: #ffffff;" border="0">
<tbody>
<tr>
<td style="text-align: center; "></td>
<td style="text-align: center; ">FY-1</td>
<td style="text-align: center; ">FY-2</td>
<td style="text-align: center; ">FY-2</td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
</tr>
<tr>
<td style="text-align: center; ">Loan</td>
<td style="text-align: center; ">Amount</td>
<td style="text-align: center; ">interest rate</td>
<td style="text-align: center; ">lenth(months)</td>
<td style="text-align: center; ">payments/year</td>
<td style="text-align: center; ">Date start</td>
</tr>
<tr>
<td style="text-align: center; ">Bank of America</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">40000</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">10%</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">36</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">12</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">FY-1 Jan</div>
</td>
<tr>
<td style="text-align: center; ">Citizen</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">20000</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">8%</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">24</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">24</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">FY-1 Feb</div>
</td>

<tr>
<td style="text-align: center; ">Total Debt</td>
<td style="text-align: center; ">60000</td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
</tr>
<tr>
<td style="text-align: center; ">payment</td>
<td style="text-align: center; ">#Name?</td>
<td style="text-align: center; ">#Name?</td>
<td style="text-align: center; ">#Name?</td>
</tr>
<tr>
<td style="text-align: center; ">Private investment</td>
<td style="text-align: center; ">150000</td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
</tr>
<table style="height: 50px; width: 300px; background-color: #ffffff;" border="0">
<tbody>
<tr>
<td <p><from method="link" action=" "><button style="font-size:15pt;background-color: green; border-radius: 30px;"><span style="font-size: ">Add item</span></button><p></td>




<table style="height: 50px; width: 936px;background-color: #ffffff;" border="0">
<tbody>
<tr>
<td <span style="height:35px"></span></td>
</tr>
<tr>
<td <span style="background-color: green; color: #ffffff;">6 Taxes</span></td>
</tr>


<table style="height: 50px; width: 936px; background-color: #ffffff;" border="0">
<tbody>
<tr>
<td style="text-align: center; ">Taxes type</td>
<td style="text-align: center; ">Percentage</td>
</tr>
<tr>
<td style="text-align: center; ">Profit</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">35.00%</div>
</td>

<table style="height: 50px; width: 936px;background-color: #ffffff;" border="0">
<tbody>
<tr>
<td <span style="height:35px"></span></td>
</tr>
<tr>
<td <span style="background-color: green; color: #ffffff;">7 Financial Market Indicators</span></td>
</tr>


<table style="height: 50px; width: 936px; background-color: #ffffff;" border="0">
<tbody>
<tr>
<td style="text-align: center; "></td>
<td style="text-align: center; ">Percentage</td>
</tr>
<tr>
<td style="text-align: center; ">Expected Return on Investment</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">5.0%</div>
</td>
<tr>
<td style="text-align: center; ">Risk-Free Interest rate</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">1.0%</div>
</td>





{% endblock %}
