{% extends 'inv/base.html' %}

{% block body %}

<table style="height: 50px; width: 936px; background-color: green;" border="0">
<tbody>
<tr>
<td style="text-align: center; width: 150px; ">Inn-Mgt</td>
<td style="text-align: center; ">Page Navigation</td>
<td><input style="width:150px;font-size:15pt;"></td>
<td <p><from method="link" action=" "><button style="border-color: green; border-radius: 8px;"><span style="font-size: xx-small;">Submit Result</span></button><p></td>
<td <p><from method="link" action=" "><button style="border-color: orange; border-radius: 8px;"><span style="font-size: xx-small;">Change Underlying Cycle</span></button></p></td>
<td <p><from method="link" action=" "><button style="border-color: blue; border-radius: 10px;"><span style="font-size: xx-small;">Help</span></button></p></td>
</tr>

<table style="height: 70px; width: 300px;background-color: #ffffff;" border="0">
<tbody>
<tr>
<td style="text-align: center; width:40px; background-color: ">Task List</td>
<td><input style="text-align: center;width:20px" id='', type=''></td>
<td style=" background-color: ">Product name & Description</td>
</tr>


<table style="height: 50px; width: 936px;background-color: #ffffff;" border="0">
<tbody>
<tr>
<td <span style="height:35px"></span></td>
</tr>
<tr>
<td <span style="background-color: green; color: #ffffff;">1 Product Name & Description</span></td>
</tr>


<table style="height: 50px; width: 936px; background-color: #ffffff;" border="0">
<tbody>
<tr>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; ">Variable Costs</td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
</tr>


<tr>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; ">Material</td>
<td style="text-align: center; ">Labor</td>
<td style="text-align: center; ">Others</td>
<td style="text-align: center; ">Price</td>
<td style="text-align: center; ">Units</td>
<td style="text-align: center; ">Cut off point</td>
<td style="text-align: center; ">Weight</td>
<td style="text-align: center; ">Weight</td>
<td style="text-align: center; ">Height</td>
<td style="text-align: center; ">Diameter</td>
</tr>

<tr>
<td style="text-align: center; ">Product ID</td>
<td style="text-align: center; ">Distribution</td>
<td style="text-align: center; ">Name</td>
<td style="text-align: center; ">(per unit)</td>
<td style="text-align: center; ">(per unit)</td>
<td style="text-align: center; ">(per unit)</td>
<td style="text-align: center; ">(per unit)</td>
<td style="text-align: center; ">(Pints)</td>
<td style="text-align: center; "></td>
<td style="text-align: center; ">(lb)</td>
<td style="text-align: center; ">(full) (lb)</td>
<td style="text-align: center; ">(inches)</td>
<td style="text-align: center; ">(inches)</td>
</tr>

<tr>
<td style="text-align: center; ">BR01-01</td>
<td style="text-align: center; ">[retail]</td>
<td style="text-align: center; ">Pilsner</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.28</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.10</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.15</div>
</td>
<td style="text-align: center; ">$4.00</td>
<td style="text-align: center; ">1</td>
<td style="text-align: center; ">0.8</td>
<td style="text-align: center; ">1.05</td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
</tr>

<tr>
<td style="text-align: center; ">BR01-02</td>
<td style="text-align: center; ">[retail]</td>
<td style="text-align: center; ">Bavarian Lager</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.28</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.10</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.15</div>
</td>
<td style="text-align: center; ">$4.00</td>
<td style="text-align: center; ">1</td>
<td style="text-align: center; ">0.8</td>
<td style="text-align: center; ">1.05</td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
</tr>

<tr>
<td style="text-align: center; ">BR01-03</td>
<td style="text-align: center; ">[retail]</td>
<td style="text-align: center; ">Light Wheat</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.25</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.10</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.15</div>
</td>
<td style="text-align: center; ">$3.50</td>
<td style="text-align: center; ">1</td>
<td style="text-align: center; ">0.8</td>
<td style="text-align: center; ">1.05</td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
</tr>

<tr>
<td style="text-align: center; ">BR01-04</td>
<td style="text-align: center; ">[retail]</td>
<td style="text-align: center; ">Red Wheat</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.25</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.10</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.15</div>
</td>
<td style="text-align: center; ">$3.50</td>
<td style="text-align: center; ">1</td>
<td style="text-align: center; ">0.8</td>
<td style="text-align: center; ">1.05</td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
</tr>

<tr>
<td style="text-align: center; ">BR01-05</td>
<td style="text-align: center; ">[retail]</td>
<td style="text-align: center; ">Pale Ale</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.25</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.10</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.15</div>
</td>
<td style="text-align: center; ">$3.50</td>
<td style="text-align: center; ">1</td>
<td style="text-align: center; ">0.8</td>
<td style="text-align: center; ">1.05</td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
</tr>

<tr>
<td style="text-align: center; ">BR01-06</td>
<td style="text-align: center; ">[retail]</td>
<td style="text-align: center; ">Bock Dark</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.25</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.10</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.15</div>
</td>
<td style="text-align: center; ">$3.50</td>
<td style="text-align: center; ">1</td>
<td style="text-align: center; ">0.8</td>
<td style="text-align: center; ">1.05</td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
</tr>

<tr>
<td style="text-align: center; ">BR01-07</td>
<td style="text-align: center; ">[wholesale]</td>
<td style="text-align: center; ">Pilsner</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.28</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.80</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.13</div>
</td>
<td style="text-align: center; ">$1.25</td>
<td style="text-align: center; ">124</td>
<td style="text-align: center; ">0.8</td>
<td style="text-align: center; ">130.8</td>
<td style="text-align: center; ">160.5</td>
<td style="text-align: center; ">23.3</td>
<td style="text-align: center; ">16</td>
</tr>

<tr>
<td style="text-align: center; ">BR01-08</td>
<td style="text-align: center; ">[wholesale]</td>
<td style="text-align: center; ">Bavarian Lager</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.28</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.80</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.13</div>
</td>
<td style="text-align: center; ">$1.28</td>
<td style="text-align: center; ">124</td>
<td style="text-align: center; ">0.8</td>
<td style="text-align: center; ">130.8</td>
<td style="text-align: center; ">160.5</td>
<td style="text-align: center; ">23.3</td>
<td style="text-align: center; ">16</td>
</tr>

<tr>
<td style="text-align: center; ">BR01-09</td>
<td style="text-align: center; ">[retail]</td>
<td style="text-align: center; ">Special Offer</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.27</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.10</div>
</td>
<td style="background-color: #ffff00; text-align: center;">
<div contenteditable="true">0.15</div>
</td>
<td style="text-align: center; ">$3.00</td>
<td style="text-align: center; ">1</td>
<td style="text-align: center; ">1</td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
<td style="text-align: center; "></td>
</tr>

<table style="height: 50px; width: 300px; background-color: #ffffff;" border="0">
<tbody>
<tr>
<td><p><from method="link" action=" "><button style="font-size:15pt;background-color: green; border-radius: 30px;"><span style="font-size: ">Add item</span></button><p></td>
<td><p><from method="link" action=" "><button style="font-size:15pt;background-color: green; border-radius: 30px;"><span style="font-size: ">Add attribute</span></button></p></td>
</tr>

{% endblock %}
