{% extends 'inv/base.html' %}

{% block body %}

<h3><span style="background-color: #a2b966; color: #ffffff;">Mktg-Mgt</span></h3>
<h4><span style="background-color: #a2b966; color: #ffffff;">1 Marketing costs</span></h4>
<table style="height: 98px; width: 488px; background-color: #ffffff;" border="2">
<tbody>
<tr>
<td style="width: 147px;">&nbsp;</td>
<td style="width: 83px;">Payment</td>
<td style="width: 116px;" colspan="2">Payment Increase</td>
</tr>
<tr>
<td style="width: 147px;">&nbsp;</td>
<td style="width: 83px;">FY-1</td>
<td style="width: 116px;">FY-2</td>
<td style="width: 116px;">FY-3</td>
</tr>
<tr>
<td style="background-color: #ffff00; width: 147px;">Local Advertising</td>
<td style="background-color: #ffff00; width: 83px;">$35,000</td>
<td style="background-color: #ffff00; width: 116px;">1.11</td>
<td style="background-color: #ffff00; width: 116px;">1.2</td>
</tr>
<tr>
<td style="background-color: #ffff00; width: 147px;">Trade Shows</td>
<td style="background-color: #ffff00; width: 83px;">$3,000</td>
<td style="background-color: #ffff00; width: 116px;">1.11</td>
<td style="background-color: #ffff00; width: 116px;">1.2</td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td style="width: 147px;"><strong>Total</strong></td>
<td style="width: 83px;">$38,000</td>
<td style="width: 116px;">$42,180</td>
<td style="width: 116px;">$50,616</td>
</tr>
</tbody>


</table>
<p></p>
<p><span style="font-size: xx-small;"><strong><button style="background-color: green; border-color: green; border-radius: 8px;">Add Item</button></strong></span></p>

<h4><span style="background-color: #a2b966; color: #ffffff;">2 Product Name &amp; Description</span></h4>
<table style="height: 361px; width: 1066px; background-color: #ffffff;"border="2">
<tbody>
<tr>
<td style="width: 100px;"></td>
<td style="width: 100px;"></td>
<td style="width: 160px;"></td>
<td style="width: 957px; text-align: center;" colspan="3">Variable Costs</td>
<td style="width: 80px;"></td>
<td style="width: 80px;"></td>
<td style="width: 130px;"></td>
<td style="width: 80px;"></td>
<td style="width: 80px;"></td>
<td style="width: 80px;"></td>
<td style="width: 80px;"></td>
</tr>
<tr>
<td style="background-color: #f6d5b8; width: 100px;">&nbsp;</td>
<td style="background-color: #f6d5b8; width: 100px;">&nbsp;</td>
<td style="background-color: #f6d5b8; width: 160px;">&nbsp;</td>
<td style="background-color: #f6d5b8; width: 80px;">Material</td>
<td style="background-color: #f6d5b8; width: 80px;">Labor</td>
<td style="background-color: #f6d5b8; width: 80px;">Others</td>
<td style="background-color: #f6d5b8; width: 80px;">Price</td>
<td style="background-color: #f6d5b8; width: 80px;">Units</td>
<td style="background-color: #f6d5b8; width: 130px;">Cut off point</td>
<td style="background-color: #f6d5b8; width: 80px;">Weight</td>
<td style="background-color: #f6d5b8; width: 80px;">Weight</td>
<td style="background-color: #f6d5b8; width: 80px;">Height</td>
<td style="background-color: #f6d5b8; width: 80px;">Diameter</td>
</tr>

<tr>
<td style="background-color: #f6c142; width: 84px;">Product ID</td>
<td style="background-color: #f6c142; width: 84px;">Distribution</td>
<td style="background-color: #f6c142; ">Name</td>
<td style="background-color: #f6c142; ">(per unit)</td>
<td style="background-color: #f6c142; ">(per unit)</td>
<td style="background-color: #f6c142; ">(per unit)</td>
<td style="background-color: #f6c142; ">(per unit)</td>
<td style="background-color: #f6c142; ">(Pints)</td>
<td style="background-color: #f6c142; "></td>
<td style="background-color: #f6c142; ">(lb)</td>
<td style="background-color: #f6c142; ">(full)(lb)</td>
<td style="background-color: #f6c142; ">(inches)</td>
<td style="background-color: #f6c142;">(inches)</td>
</tr>

<tr>
<td style="background-color: #ffff00; width: 84px;">BR01-01</td>
<td style="width: 83px; text-align: center;">[retail]</td>
<td style="background-color: #ffff00;">Pilsner</td>
<td style="background-color: #ffff00; width: 13px;">0.28</td>
<td style="background-color: #ffff00; width: 54px;">0.1</td>
<td style="background-color: #ffff00; width: 59px;">0.15</td>
<td style="background-color: #ffff00; width: 49px;">$4.00</td>
<td style="background-color: #ffff00; width: 44px;">1</td>
<td>0.8</td>
<td style="background-color: #ffff00; width: 52px;">1.05</td>
<td style="background-color: #ffff00; width: 80px;">0</td>
<td style="background-color: #ffff00; width: 66px;">0</td>
<td style="background-color: #ffff00; width: 78px;">0</td>
</tr>
<tr>
<td style="background-color: #ffff00; ">BR01-02</td>
<td style="width: 83px; text-align: center;">[retail]</td>
<td style="background-color: #ffff00; ">Bavarian Lager</td>
<td style="background-color: #ffff00; width: 13px;">0.28</td>
<td style="background-color: #ffff00; width: 54px;">0.10</td>
<td style="background-color: #ffff00; width: 59px;">0.15</td>
<td style="background-color: #ffff00; width: 49px;">$4.00</td>
<td style="background-color: #ffff00; width: 44px;">1</td>
<td>0.8</td>
<td style="background-color: #ffff00;">1.05</td>
<td style="background-color: #ffff00; width: 80px;">0</td>
<td style="background-color: #ffff00; width: 66px;">0</td>
<td style="background-color: #ffff00; width: 78px;">0</td>
</tr>

<tr>
<td style="background-color: #ffff00; ">BR01-03</td>
<td style="width: 83px; text-align: center;">[retail]</td>
<td style="background-color: #ffff00; ">Light Wheat</td>
<td style="background-color: #ffff00; width: 13px;">0.25</td>
<td style="background-color: #ffff00; width: 54px;">0.10</td>
<td style="background-color: #ffff00; width: 57px;">0.15</td>
<td style="background-color: #ffff00; width: 53px;">$4.00</td>
<td style="background-color: #ffff00; width: 42px;">1</td>
<td>0.8</td>
<td style="background-color: #ffff00; width: 52px;">1.05</td>
<td style="background-color: #ffff00; width: 80px;">160.5</td>
<td style="background-color: #ffff00; width: 66px;">23.3</td>
<td style="background-color: #ffff00; width: 78px;">16</td>
</tr>

<tr>
<td style="background-color: #ffff00;">BR01-04</td>
<td style="width: 83px; text-align: center;">[retail]</td>
<td style="background-color: #ffff00; ">Red Wheat</td>
<td style="background-color: #ffff00; width: 13px;">0.25</td>
<td style="background-color: #ffff00; width: 54px;">0.10</td>
<td style="background-color: #ffff00; width: 57px;">0.15</td>
<td style="background-color: #ffff00; width: 53px;">$3.50</td>
<td style="background-color: #ffff00; width: 42px;">1</td>
<td>0.8</td>
<td style="background-color: #ffff00; width: 52px;">1.05</td>
<td style="background-color: #ffff00; width: 80px;">160.5</td>
<td style="background-color: #ffff00; width: 66px;">23.3</td>
<td style="background-color: #ffff00; width: 78px;">16</td>
</tr>

<tr>
<td style="background-color: #ffff00; ">BR01-05</td>
<td style="width: 83px; text-align: center;">[retail]</td>
<td style="background-color: #ffff00;">Pale Ale</td>
<td style="background-color: #ffff00; width: 13px;">0.25</td>
<td style="background-color: #ffff00; width: 54px;">0.10</td>
<td style="background-color: #ffff00; width: 57px;">0.15</td>
<td style="background-color: #ffff00; width: 53px;">$3.50</td>
<td style="background-color: #ffff00; width: 42px;">1</td>
<td>0.8</td>
<td style="background-color: #ffff00; width: 52px;">1.05</td>
<td style="background-color: #ffff00; width: 80px;">160.5</td>
<td style="background-color: #ffff00; width: 66px;">23.3</td>
<td style="background-color: #ffff00; width: 78px;">16</td>
</tr>

<tr>
<td style="background-color: #ffff00;">BR01-06</td>
<td style="width: 83px; text-align: center;">[retail]</td>
<td style="background-color: #ffff00;">Bock Dark</td>
<td style="background-color: #ffff00; width: 13px;">0.25</td>
<td style="background-color: #ffff00; width: 54px;">0.10</td>
<td style="background-color: #ffff00; width: 57px;">0.15</td>
<td style="background-color: #ffff00; width: 53px;">$3.50</td>
<td style="background-color: #ffff00; width: 42px;">1</td>
<td>0.8</td>
<td style="background-color: #ffff00; width: 52px;">1.05</td>
<td style="background-color: #ffff00; width: 80px;">160.5</td>
<td style="background-color: #ffff00; width: 66px;">23.3</td>
<td style="background-color: #ffff00; width: 78px;">16</td>
</tr>

<tr>
<td style="background-color: #ffff00; ">BR01-07</td>
<td style="width: 83px; text-align: center;">[wholesale]</td>
<td style="background-color: #ffff00; ">Pilsner</td>
<td style="background-color: #ffff00; width: 13px;">0.28</td>
<td style="background-color: #ffff00; width: 54px;">0.80</td>
<td style="background-color: #ffff00; width: 57px;">0.13</td>
<td style="background-color: #ffff00; width: 53px;">$1.25</td>
<td style="background-color: #ffff00; width: 42px;">1</td>
<td>0.8</td>
<td style="background-color: #ffff00; width: 52px;">130.8</td>
<td style="background-color: #ffff00; width: 80px;">160.5</td>
<td style="background-color: #ffff00; width: 66px;">23.3</td>
<td style="background-color: #ffff00; width: 78px;">16</td>
</tr>
<tr>
<td style="background-color: #ffff00;">BR01-08</td>
<td style="width: 83px; text-align: center;">[wholesale]</td>
<td style="background-color: #ffff00; ">Bavarian Lager</td>
<td style="background-color: #ffff00; width: 13px;">0.28</td>
<td style="background-color: #ffff00; width: 54px;">0.80</td>
<td style="background-color: #ffff00; width: 57px;">0.13</td>
<td style="background-color: #ffff00; width: 53px;">$1.28</td>
<td style="background-color: #ffff00; width: 42px;">124</td>
<td>0.8</td>
<td style="background-color: #ffff00; width: 52px;">130.8</td>
<td style="background-color: #ffff00; width: 80px;">160.5</td>
<td style="background-color: #ffff00; width: 66px;">23.3</td>
<td style="background-color: #ffff00; width: 78px;">16</td>
</tr>
<tr>
<td style="background-color: #ffff00;">BR01-09</td>
<td style="width: 83px; text-align: center;">[retail]</td>
<td style="background-color: #ffff00;">Special Offer</td>
<td style="background-color: #ffff00;">0.25</td>
<td style="background-color: #ffff00;">0.10</td>
<td style="background-color: #ffff00; ">0.15</td>
<td style="background-color: #ffff00; ">$3.00</td>
<td style="background-color: #ffff00;">1</td>
<td>1</td>
<td style="background-color: #ffff00; ">1.05</td>
<td style="background-color: #ffff00; ">0</td>
<td style="background-color: #ffff00; ">0</td>
<td style="background-color: #ffff00; ">0</td>
</tr>

</tbody>
</table>


<p><button style="background-color: green; border-color: green; border-radius: 8px;"><span style="font-size: xx-small;">Add Item</span></button>&nbsp; &nbsp;<button style="background-color: green; border-color: green; border-radius: 8px;"><span style="font-size: xx-small;">Delete Item</span></button>&nbsp; &nbsp;<button style="background-color: green; border-color: green; border-radius: 8px;"><span style="font-size: xx-small;">Add Attribute</span></button>&nbsp; &nbsp; <button style="background-color: green; border-color: green; border-radius: 8px;"><span style="font-size: xx-small;">Change Attribute</span></button>&nbsp; &nbsp; <button style="background-color: green; border-color: green; border-radius: 8px;"><span style="font-size: xx-small;">Change Editable Fields</span></button>&nbsp; &nbsp;
</p>

{% endblock %}
