{% extends 'inv/base.html' %}

{% block body %}
<h3><span style="background-color: #a2b966; color: #ffffff;">Oper-Mgt</span></h3>
<h4><span style="background-color: #a2b966; color: #ffffff;">1 Forecast for the next three years</span></h4>
<p></p>

<table style="height: 361px; width: 1066px; background-color: #ffffff;"border="2">
<tbody>
<tr>
<td style="width: 100px;"></td>
<td style="width: 100px;"></td>
<td style="width: 160px;"></td>
<td style="width: 957px; text-align: center;" colspan="3">Variable Costs</td>
<td style="width: 80px;"></td>
<td style="width: 80px;"></td>
<td style="width: 130px;"></td>
<td style="width: 80px;"></td>
<td style="width: 80px;"></td>
<td style="width: 80px;"></td>
<td style="width: 80px;"></td>
</tr>
<tr>
<td style="background-color: #f6d5b8; width: 100px;">&nbsp;</td>
<td style="background-color: #f6d5b8; width: 100px;">&nbsp;</td>
<td style="background-color: #f6d5b8; width: 160px;">&nbsp;</td>
<td style="background-color: #f6d5b8; width: 80px;">Material</td>
<td style="background-color: #f6d5b8; width: 80px;">Labor</td>
<td style="background-color: #f6d5b8; width: 80px;">Others</td>
<td style="background-color: #f6d5b8; width: 80px;">Price</td>
<td style="background-color: #f6d5b8; width: 80px;">Units</td>
<td style="background-color: #f6d5b8; width: 130px;">Cut off point</td>
<td style="background-color: #f6d5b8; width: 80px;">Weight</td>
<td style="background-color: #f6d5b8; width: 80px;">Weight</td>
<td style="background-color: #f6d5b8; width: 80px;">Height</td>
<td style="background-color: #f6d5b8; width: 80px;">Diameter</td>
</tr>

<tr>
<td style="background-color: #f6c142; width: 84px;">Product ID</td>
<td style="background-color: #f6c142; width: 84px;">Distribution</td>
<td style="background-color: #f6c142; ">Name</td>
<td style="background-color: #f6c142; ">(per unit)</td>
<td style="background-color: #f6c142; ">(per unit)</td>
<td style="background-color: #f6c142; ">(per unit)</td>
<td style="background-color: #f6c142; ">(per unit)</td>
<td style="background-color: #f6c142; ">(Pints)</td>
<td style="background-color: #f6c142; "></td>
<td style="background-color: #f6c142; ">(lb)</td>
<td style="background-color: #f6c142; ">(full)(lb)</td>
<td style="background-color: #f6c142; ">(inches)</td>
<td style="background-color: #f6c142;">(inches)</td>
</tr>

<tr>
<td>BR01-01</td>
<td style="text-align: center;">[retail]</td>
<td>Pilsner</td>
<td style="background-color: #ffff00;">0.28</td>
<td style="background-color: #ffff00;">0.10</td>
<td style="background-color: #ffff00;">0.15</td>
<td>$4.00</td>
<td>1</td>
<td style="background-color: #ffff00;">0.8</td>
<td>1.05</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>

<tr>
<td>BR01-02</td>
<td style="text-align: center;">[retail]</td>
<td>Bavarian Lager</td>
<td style="background-color: #ffff00;">0.28</td>
<td style="background-color: #ffff00;">0.10</td>
<td style="background-color: #ffff00;">0.15</td>
<td>$4.00</td>
<td>1</td>
<td style="background-color: #ffff00;">0.8</td>
<td>1.05</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>

<tr>
<td>BR01-03</td>
<td style="text-align: center;">[retail]</td>
<td>Light Wheat</td>
<td style="background-color: #ffff00; ">0.25</td>
<td style="background-color: #ffff00; ">0.10</td>
<td style="background-color: #ffff00; ">0.15</td>
<td>$4.00</td>
<td>1</td>
<td style="background-color: #ffff00;">0.8</td>
<td>1.05</td>
<td>160.5</td>
<td>23.3</td>
<td>16</td>
</tr>

<tr>
<td>BR01-04</td>
<td style="text-align: center;">[retail]</td>
<td>Red Wheat</td>
<td style="background-color: #ffff00; ">0.25</td>
<td style="background-color: #ffff00; ">0.10</td>
<td style="background-color: #ffff00; ">0.15</td>
<td>$3.50</td>
<td>1</td>
<td style="background-color: #ffff00;">0.8</td>
<td>1.05</td>
<td>160.5</td>
<td>23.3</td>
<td>16</td>
</tr>

<tr>
<td>BR01-05</td>
<td style="text-align: center;">[retail]</td>
<td>Pale Ale</td>
<td style="background-color: #ffff00; ">0.25</td>
<td style="background-color: #ffff00; ">0.10</td>
<td style="background-color: #ffff00; ">0.15</td>
<td>$3.50</td>
<td>1</td>
<td style="background-color: #ffff00;">0.8</td>
<td>1.05</td>
<td>160.5</td>
<td>23.3</td>
<td>16</td>
</tr>

<tr>
<td>BR01-06</td>
<td style="text-align: center;">[retail]</td>
<td>Bock Dark</td>
<td style="background-color: #ffff00; ">0.25</td>
<td style="background-color: #ffff00; ">0.10</td>
<td style="background-color: #ffff00; ">0.15</td>
<td>$3.50</td>
<td>1</td>
<td style="background-color: #ffff00;">0.8</td>
<td>1.05</td>
<td>160.5</td>
<td>23.3</td>
<td>16</td>
</tr>

<tr>
<td>BR01-07</td>
<td style="text-align: center;">[wholesale]</td>
<td>Pilsner</td>
<td style="background-color: #ffff00; ">0.28</td>
<td style="background-color: #ffff00; ">0.80</td>
<td style="background-color: #ffff00; ">0.13</td>
<td>$1.25</td>
<td>1</td>
<td style="background-color: #ffff00;">0.8</td>
<td>130.8</td>
<td>160.5</td>
<td>23.3</td>
<td>16</td>
</tr>

<tr>
<td>BR01-08</td>
<td style="text-align: center;">[wholesale]</td>
<td>Bavarian Lager</td>
<td style="background-color: #ffff00; ">0.28</td>
<td style="background-color: #ffff00; ">0.80</td>
<td style="background-color: #ffff00; ">0.13</td>
<td>$1.28</td>
<td>124</td>
<td style="background-color: #ffff00;">0.8</td>
<td>130.8</td>
<td>160.5</td>
<td>23.3</td>
<td>16</td>
</tr>

<tr>
<td>BR01-09</td>
<td style="text-align: center;">[retail]</td>
<td>Special Offer</td>
<td style="background-color: #ffff00;">0.25</td>
<td style="background-color: #ffff00;">0.10</td>
<td style="background-color: #ffff00; ">0.15</td>
<td>$3.00</td>
<td>1</td>
<td style="background-color: #ffff00;">1</td>
<td>1.05</td>
<td>0</td>
<td>0</td>
<td>0</td>
</tr>

</tbody>
</table>

<p>&nbsp;</p>
<h4><span style="background-color: #a2b966; color: #ffffff;">2 Targeted Market  Size (per product and FY)

{% endblock %}
