{% extends 'inv/base.html' %}

{% block body %}

<table style="height: 154px; width: 500px; background-color: #ffffff;" border="0">
<tbody>
<tr>
<td style="color: #000000;font-size:15pt;line-height:150pt;">SEMESTER:</td>
<td style="color: #000000;font-size:15pt;line-height:150pt;">Fall2019</td>
</tr>



<tr>
<td style="line-height:50pt;font-size:15pt;">PROJECT TITLE:</td>
<td><input style="width:300px;font-size:15pt;"></td>
</td>
</tr>

<tr>
<td style="line-height:50pt;font-size:15pt;">LOCATION:</td>
<td><input style="width:300px;font-size:15pt;"></td>
</td>
</tr>


<tr>
<td style="line-height:150pt;font-size:15pt;">STUDENT NAME:</td>
<td><input style="width:300px;font-size:15pt;"></td>
</td>
</tr>

<tr>
<td style="line-height:50pt;font-size:15pt;">ADVISOR:</td>
<td style="line-height:50pt;font-size:15pt;">Dr. Vladimir Zlatev</td>
</tr>

<tr>
<td style="line-height:30pt;font-size:15pt;">DATE OF SUBMISSION:</td>
<td style="line-height:30pt;font-size:15pt;">11/1/19</td>
</tr>



<td style="width: 91px; text-align: center;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><button style="border-color: green; border-radius: 8px;"><span style="font-size: xx-small;">Submit and Start Project</span></button></p>
<p></p>
{% endblock %}
